#connexion{
  display: none;
}
#inscription{
  display: none;
}

h3 {
  color: #8471FF;
}
.back a{
  text-decoration-color: #8471FF;;
  color: black;
}
.back a:hover{
  color: #8471FF;
}
.italique{
  font-style: italic;
}
.form, .all{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* #form_countries{
  display: none;
} */
#form_events{
  display: none;
}
#form_featured{
  display: none;
}
#form_news{
  display: none;
}
#form_services{
  display: none;
}
#form_testimonial{
  display: none;
}
#form_all{
  display: none;
}
#form_delete{
  display: none;
}

.sidebar button{
  margin-bottom: 2rem;
  padding: 1rem;
  width: 25.5rem;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.sidebar{
  padding-top: 2rem;
  height: 100vh;
  background-color: #8471FF;
}
.btn-primary{
  background-color: #8471FF;
  border-color: #8471FF;
}
.btn-primary:hover{
  background-color: white;
  color: #8471FF;
  border-color: #8471FF;
}
table{
  width: 55rem;
  border-collapse: separate;
}
